!.gitkeep

dot_i3/.i3/i3log
dot_i3/.i3/config
dot_i3/.config/gtk-3.0/bookmarks

dot_urxvt/.local

dot_xfce/xfce4

dot_xneur/.xneur/.cache/
dot_xneur/.xneur/languages/
dot_xneur/.xneur/xneurlog.html

dot_zsh/.zshenv

**/fonts/*/.uuid

/rel
