[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/freek/Desktop/lu28708bagod.tmp]
row=0
col=5

[/home/freek/Desktop/terminology.desktop]
row=0
col=7

[/home/freek/Desktop/Selling.ods]
row=2
col=7

[Trash]
row=3
col=7

[/home/freek]
row=0
col=6

