[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/freek/Desktop/anki.desktop]
row=0
col=7

[/home/freek/Desktop/org.musicbrainz.Picard.desktop]
row=1
col=6

[/home/freek/Desktop/freeplane.desktop]
row=1
col=7

[/home/freek/Desktop/calibre-gui.desktop]
row=1
col=1

[/home/freek/Desktop/terminology.desktop]
row=1
col=0

[/home/freek/Desktop/klavaro.desktop]
row=0
col=6

[/home/freek/Desktop/firefox.desktop]
row=0
col=1

[/home/freek/Desktop/appimagekit_1215688f5aaa1262f2177c9acc41149c-Todoist.desktop]
row=0
col=2

[/home/freek/Desktop/com.teamviewer.TeamViewer.desktop]
row=2
col=7

[/home/freek/Desktop/sublime_text.desktop]
row=0
col=5

[Trash]
row=3
col=7

[/home/freek]
row=0
col=0

